h1{
    text-align: center;
 }

 /* #btnInsc
 {
    margin-left: 5%;
 } */

 #btnConn
{
    margin-left: 80%;
    
}

#bigdiv{
    margin-top: 5%;
    display: flex;
}

button
{
    height: 50px;
    width: 150px;
    font-size: 20px;
}

#p{
    font-size: 50px;
}

#a{
    font-size: 80px;
}